[Desktop Entry]
Type=Application
Name=MrWriter
GenericName=note program
Icon=MyIcon.png
Exec=MrWriter %F
MimeType=application/x-moj;application/pdf;application/x-xoj
Terminal=false
Categories=Office;
