[Desktop Entry]
Type=Application
Name=MrWriter
Comment=Note taking application
Icon=MrWriter
Exec=env FONTCONFIG_PATH=/etc/fonts MrWriter %F
Terminal=false
Categories=Office;
